
.tweets-inspiration h4 {
    color: #191f2d;
    margin-bottom: 15px;
}

.tweets-inspiration p {
    color: #75849d;
    margin-bottom: 10px;
}

.tweets-inspiration a {
    color: #75849d;
    text-decoration: underline;
}

.tweet-head-btns button {
    background: #ecf2f9;
    color: #191f2d;
    border-color: #ecf2f9;
    padding: 6px 15px;
}

/***** twitter-card-start-here *****/
.twitter-card-sec {
    width: 100%;
    max-width: 1070px;
    margin-left: auto;
}

.card.twitter-card {
    min-height: 245px;
    border-color: #e2e8f1;
    box-shadow: 0px 0px 5px 1px #3b3c3e2b;
}

.twitter-card .card-header {
    background-color: #fff;
    border-color: #e2e8f1;
}

.twitter-card .tweet-img img {
    width: 100%;
    max-width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.twitter-card .card-header-details span {
    font-size: 12px;
    color: #a3b2c5;
    margin-right: 15px;
}

.twitter-card .card-header-details .card-icon i.fa {
    font-size: 12px;
    color: #6f7f98;
}

.twitter-card .card-header-details .card-icon {
    background: #ecf2f9;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.twitter-card .card-header-details .card-icon:first-of-type {
    margin-right: 10px;
}

.twitter-card .card-body .card-text, .twitter-card .card-footer .footer-links a.card-link {
    font-size: 14px;
    line-height: 1.5;
    color: #191f2d;
}

.twitter-card .card-body .card-text{
    max-width: 295px;
    -webkit-box-orient: vertical;
    /*display: block;*/
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
}

.twitter-card .card-footer {
    background-color: #fff;
    border-color: #e2e8f1;
}

.twitter-card .card-footer .footer-links a.card-link i.fa.fa-heart {
    color: #ff7877;
    font-weight: 100;
    margin-right: 8px;
}

.twitter-card .card-footer .footer-links a.card-link:last-child {
    margin-left: 10px;
}

.twitter-card .card-footer .footer-links a.card-link:last-child i.fa{
    color: #45dd94;
    margin-right: 8px;
}

.twitter-card .card-footer .btn-group button.btn {
    background-color: #ffff;
    color: #191f2d;
    border-color: #e2e9f2;
    border-radius: 6px;
    font-size: 14px;
    margin-right: 20px;
}

.twitter-card .card-footer .dropdown i.fa {
    color: #0092e1;
    cursor: pointer;
}
/***** twitter-card-end-here *****/